################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShipMap/obj
/ShipMap/bin
/ShipMapDemo/bin
/ShipMapDemo/obj
